.header-text {
	text-align: center;
	color: black;
	font-size: large;
}

.header {
}

.footer {
}

.wrapper {
	/*display: flex;*/
}

.main-content-wrapper {
	float: left;
	width: 80%;
}

.main-content {
	padding: 10px;
}

.left-nav-wrapper {
	float: left;
	width: 20%;
}
.left-nav {
	padding: 10px;
	border: 1px solid black;
}

.clear {
	clear: both;
}
